body {
    font-family: "Nunito", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 50px;
    grid-template-areas: 
        "header header header"
        ". board ."
        "footer footer footer";
}

.header {
    grid-area: header;
    background-color: #F34769;
}
.header-title {
    font-size: 20pt;
}

.board {
    display: flex;
    grid-area: board;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.board-row {
    display: flex;
    flex: 1 1 auto;
}

.board-square {
    flex: 1 1 auto;
    width: 100%;
}

.footer {
    grid-area: footer;
}